/*http://www.bestcssbuttongenerator.com/#/2*/
.button {
    width: 300px;
    height: 124px;
    text-align: center;
    margin-left:20px;
    margin-top:20px;
    margin-right:20px;
    -moz-box-shadow: 1px 11px 10px -7px #c7751e;
    -webkit-box-shadow: 1px 11px 10px -7px #c7751e;
    box-shadow: 1px 11px 10px -7px #c7751e;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c27013), color-stop(1, #db8f0b));
    background:-moz-linear-gradient(top, #c27013 5%, #db8f0b 100%);
    background:-webkit-linear-gradient(top, #c27013 5%, #db8f0b 100%);
    background:-o-linear-gradient(top, #c27013 5%, #db8f0b 100%);
    background:-ms-linear-gradient(top, #c27013 5%, #db8f0b 100%);
    background:linear-gradient(to bottom, #c27013 5%, #db8f0b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c27013', endColorstr='#db8f0b',GradientType=0);
    background-color:#c27013;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:24px;
    font-weight:bold;
    padding:32px 76px;
    text-decoration:none;
    text-shadow:0px 2px 27px #000000;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #db8f0b), color-stop(1, #c27013));
    background:-moz-linear-gradient(top, #db8f0b 5%, #c27013 100%);
    background:-webkit-linear-gradient(top, #db8f0b 5%, #c27013 100%);
    background:-o-linear-gradient(top, #db8f0b 5%, #c27013 100%);
    background:-ms-linear-gradient(top, #db8f0b 5%, #c27013 100%);
    background:linear-gradient(to bottom, #db8f0b 5%, #c27013 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#db8f0b', endColorstr='#c27013',GradientType=0);
    background-color:#db8f0b;
}
.myButton:active {
    position:relative;
    top:1px;
}

.fondo {
    height:500px;
    width:500px;
    background-color: white;
}

.pepe{
    margin-left:100px;
    margin-right:100000px;
    margin-top:100000px;
}